nushell/.config/nushell/generated.nu
*.disabled
*.ignore/**/*
.nvim
lazy-lock.json
lazyvim.json
.tmp*
*.bak
zed/.config/zed/conversations
zed/.config/zed/embeddings
zed/.config/zed/prompts
.DS_Store
.env
sketchybar/.config/sketchybar-ai-old
sketchybar/.config/sketchybar-old
sketchybar/.config/sketchybar-new
__pycache__
node_modules
*_local
git/.local/bin/
package-lock.json
/pi/.pi/.task-forge
/pi/.pi/agent/settings.json
/pi/.pi/agent/auth.json
/pi/mattpocock-skills
