{
  "packages": [
    "npm:pi-markdown-preview",
    "npm:pi-connect",
    "npm:pi-mcp-adapter",
    "npm:@tmustier/pi-usage-extension",
    "npm:@marckrenn/pi-sub-bar",
    "npm:@ifi/pi-plan",
    "npm:@ifi/oh-pi-themes",
    "npm:@ifi/pi-web-remote",
    "npm:pi-powerline-footer"
  ],
  "powerlineShortcuts": {
    "jumpPreviousUserMessage": "ctrl+shift+9",
    "jumpNextUserMessage": "ctrl+shift+0"
  },
  "theme": "nord"
}
