{
  "packages": [
    "npm:pi-markdown-preview",
    "npm:pi-connect",
    "npm:pi-mcp-adapter",
    "npm:@tmustier/pi-usage-extension",
    "npm:@marckrenn/pi-sub-bar",
    { "source": "npm:@ollama/pi-web-search", "extensions": ["+index.ts"] },
    "npm:@ifi/oh-pi",
    "npm:@ifi/oh-pi-extensions",
    "npm:@ifi/oh-pi-ant-colony",
    "npm:@ifi/pi-extension-subagents",
    "npm:@ifi/pi-plan",
    "npm:@ifi/pi-spec",
    "npm:@ifi/oh-pi-themes",
    "npm:@ifi/oh-pi-prompts",
    "npm:@ifi/oh-pi-skills",
    "npm:@ifi/pi-web-remote",
    "npm:pi-powerline-footer"
  ],
  "powerlineShortcuts": {
    "jumpPreviousUserMessage": "ctrl+shift+9",
    "jumpNextUserMessage": "ctrl+shift+0"
  },
  "theme": "nord"
}
